/* font-family: "Merriweather", serif; */

body { /*ya esta*/
    font-family: "Merriweather", serif;
    background-color:#FFE985;
}

nav { /*ya esta*/
    background-color: #FFE985;
    height: 110px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

nav ul { /*ya esta*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .holder { /*ya esta*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

nav .logocontainer { /*ya esta*/
    display: flex;
    align-items: center;
}

nav ul li a { /*ya esta*/
    color: black;
    text-decoration: none;
    padding: 10px 16px;
    margin: 5px;
    display: block;
    text-align: center;
    border-radius: 20px;
}

nav ul li a:hover { /*ya esta*/
    background-color: rgba(0, 0, 0, 0.1);
    color:#ff0808; 
}

nav ul li a.activo { /*ya esta*/
    color: white;
    font-weight: bold;
    background-color: #ff0808;
}

/*modificar?*/
.holder {
    max-width: 960px;
    margin: 0 auto;
}


footer { /*ya esta*/
    background-color: #553506;
    color: white;
    text-align: center;
    padding: 5px 0;
}

/*inicio home */

.homeimg { /*ya esta*/
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cat { /*ya esta*/
    color: #ff0808;
    font-weight: bold;
    font-size: 18px;
}

.informacion { /*ya esta*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h1 { /*ya esta*/
    color: #ff0808;
    text-align: center;
}

/*fin home */

/* inicio menu */

.columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grupocomida {
    margin-bottom: 40px;
    text-align: center;
   
}

.menuholder {
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}

.col {
    width: 30%;
    
}

.comida {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comida li {
    margin-bottom: 5px;
}

.marco {
    background-color: red;
}
/* fin menu */

/*inicio novedades*/

.novedadesholder { /*ya esta*/
    max-width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-between;
}

.novedades { /*ya esta*/
    width: 28%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
/*fin novedades*/

/*inicio galeria*/

.galeria {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.galeria img {
    width: 500px;
    margin-bottom: 20px;
}

/*fin galeria*/

/*inicio nosotros*/

.cuadrohistoria img { /*ya esta*/
    width: 200px;
    border-radius: 10px;
}

.cuadrohistoria { /*ya esta*/
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 20px;
}

.cuadrohistoria:nth-child(odd) { /*ya esta*/
    flex-direction: row-reverse;
}

/*fin nosotros*/

/*inicio contacto*/

.contacto { /*ya esta*/
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 20px auto;
}

.contacto h2 { /*ya esta*/
    text-align: left;
    color:#ff0808;
}

.contacto div { /*ya esta*/
    width: 100%;
}

.formulario p { /*ya esta*/
    display:flex;
}

.formulario p input,
.formulario p textarea { /*ya esta*/
    width: 100%;
    background: white;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 6px 10px;
}

.formulario textarea { /*ya esta*/
    resize: none;
    height: 150px;
}

.formulario input[type="submit"] { /*ya esta*/
    background: #ff0808;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    border: 1px solid white;
    padding: 6px 20px;
    width: auto;
    position: relative;
    cursor: pointer;
}

.formulario input[type="submit"]:hover { /*ya esta*/
    background-color: #2e64a1;
}

.datos ul{ /*ya esta*/
    list-style: none;
}

.datos ul li { /*ya esta*/
    margin-bottom: 10px;
}

/*fin contacto*/